<!-- templates /base.html -->
{% load static %}
<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>She Codes News</title>
        <meta name="description" content="A site for news related to the She codes community in Australia">
        <meta name="author" content="Lanie Ruiz-Perez">
        <link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        {% block stylesheets %} {% endblock %}
    </head>

    <body>
        <header>
            <div id="header-text">
                <a id="header-link" href="{% url 'news:index' %}">
                    <h1>She {Codes} News</h1>
                </a>
            </div>
            <!-- include nav here -->
            {% include './nav.html' %}
        </header>

        <!-- content blocks here -->
        {% block content %}{% endblock %}
    </body>

    <footer>
        <div class="footer-container">
          <nav >
            <a class="footerIcon" href="https://www.facebook.com/lanie.ruiz.9/"><img src= "{% static 'images/footer/facebook-logo.png' %}"/></a>
            <a class="footerIcon" href="https://www.instagram.com/lanie.ruiz/"><img src="{% static 'images/footer/instagram-logo.png' %}"/></a>
            <a class="footerIcon" href="https://www.linkedin.com/in/lanie-ruizperez/"><img src="{% static 'images/footer/linkedin-icon.png' %}"/></a>
            <a class="footerIcon" href="https://github.com/lruizper"><img src="{% static 'images/footer/github-icon.png' %}"></a>   
          </nav>
          <p>
            All rights reserved (LRP 2023)
          </p>
        </div>
      </footer>
</html>
