/* use this to debug */
/* 
*{
  border: 1px solid black;
  background-color: #dfe1df;
} */

/* reset default styles */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    background-color: #dfe1df;
  }
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: auto;
    font-weight: normal;
  }
  ol, ul {
    list-style: none;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  
  
  /* style guide */
  :root {
    --color0: black ;
    --color1: #fe7f18;
    --color2: #4e1125;
    --color3: #B8A3A1;
    --color4: #393A1F;
    --color5: #8b4e5e;
    --color6: #BC8D6D;
    /*  inherited colors  */
    --text: var(--color0);
  }
  
  /* font style */
  html, body {
    font-family: "Montserrat", sans-serif;
    font-size:18px;
  }
  
  /* heading styles */
  h1 {
    width: 100%;
    font-family: 'Montserrat', serif;
    font-size:40px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: var(--color1);
    border-color: var(--color0);
    border-width: 3px;
    border-radius: 7px;
  }
  h2 {
    font-family: 'Montserrat', serif;
    font-size:26px;
    font-weight: 500;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: white;
    background-color: var(--color2);
    border-color: var(--color0);
    border-width: 3px;
    border-radius: 7px;
  }
  h3 {
    font-family: 'Montserrat', sans-serif;
    font-size:25px;
    font-weight: 200;
    margin: 15px;
    padding: 5px;
    background-color: var(--color4);
    color: white;
    border-color: var(--color0);
    border-width: 3px;
    border-radius: 4px;
  }
  h4 {
    font-family: 'Montserrat Slab', sans-serif;
    font-size:24px;
    font-style: italic, bold;
    padding: auto;
  }
  h5{
    font-family: 'Montserrat Slab', sans-serif;
    font-size:22px;
    font-style: italic;
    font-weight: 200;
  }
  h6{
    font-family: 'Montserrat Slab', serif;
    font-size:16px;
    font-style: italic;
    font-weight: 200;
    margin: 5px;
    padding: 5px;
  }

/* #header-text {
    flex-basis: 80%;
    display: flex;
} */

nav {
    flex-basis: 30%;
    display: flex;
    flex-direction: row;
    /* align-items: flex-end; */
    align-items: center;
    justify-content: center;
}

a {
    margin: 2px;
    text-decoration: none;
    color: #000;
}

a, p {
    font-family: 'Montserrat', sans-serif;
    font-size:18px;
}

header{
  height: max-content;
  background-color: var(--color1);
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around;
}

nav{
  width: 100%;
  height: 15rex;
  background-color: var(--color1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

nav a {
  background-color: var(--color1);
  max-width: fit-content;
  /* style as buttons with hover */
  text-wrap: nowrap;

}

/* STORY */
.my-story{
  padding: 20px 0px;
  margin: 10px;
}

/* FORM */
.my-container{
  display: flex;
  justify-content: center;
  align-items: center;
  }

.my-form{
  width: 50%;
  box-shadow: 0px 0px 15px 5px #fe7f18 ;
}
form p {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc; 
  padding: 5px;
  margin: 10px 0;
}

form p:hover {
  box-shadow: 0px 0px 5px 1px #fe7f18
}
form p label {
  width: max-content;
  font-family: 'Montserrat Slab', sans-serif;
  font-size:18px;
  font-style: bold;
}

.my-button{
  width: 90%;
  font-family: 'Montserrat', sans-serif;
    font-size:25px;
    font-weight: 200;
    margin: 15px;
    padding: 5px;
    background-color: var(--color2);
    color: white;
    border-color: var(--color0);
    border-width: 3px;
    border-radius: 4px;
}

.my-button:hover{
  box-shadow: 0px 0px 5px 1px #fe7f18
}
  
/* FOOTER */
footer * {background-color: var(--color6);}
.footer-container { display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: var(--color6);
      margin-bottom: 10px 20px;
    }
  
  footer p {font-size: 0.7rem;}
    
  .footerIcon img { background-color: var(--color6);
      height: 30px;
      padding: 3px;
      margin: 2px;
    }
 