/* use this to debug */
/* 
*{
  border: 1px solid black;
  background-color: #dfe1df;
} */

/* reset default styles */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    background-color: #dfe1df;
  }
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: auto;
    font-weight: normal;
  }
  ol, ul {
    list-style: none;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  
  
  /* style guide */
  :root {
    --color0: black ;
    --color1: #fe7f18;
    --color2: #6C3749;
    --color3: #B8A3A1;
    --color4: #393A1F;
    --color5: #3B2951;
    --color6: #BC8D6D;
    /*  inherited colors  */
    --text: var(--color0);
  }
  
  /* font style */
  html, body {
    font-family: "Montserrat", sans-serif;
    font-size:18px;
  }
  
  /* heading styles */
  h1 {
    font-family: 'Montserrat', serif;
    font-size:40px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: var(--color1);
    border-color: var(--color0);
    border-width: 3px;
    border-radius: 7px;
  }
  h2 {
    font-family: 'Montserrat', serif;
    font-size:26px;
    font-weight: 500;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #9B1D2C;
    border-color: var(--color0);
    border-width: 3px;
    border-radius: 7px;
  }
  h3 {
    font-family: 'Montserrat', sans-serif;
    font-size:25px;
    font-weight: 200;
    margin: 15px;
    padding: 5px;
    background-color: var(--color4);
    color: white;
    border-color: var(--color0);
    border-width: 3px;
    border-radius: 4px;
  }
  h4 {
    font-family: 'Montserrat Slab', sans-serif;
    font-size:24px;
    font-style: italic, bold;
    padding: auto;
  }
  h5{
    font-family: 'Montserrat Slab', sans-serif;
    font-size:22px;
    font-style: italic;
    font-weight: 200;
  }
  h6{
    font-family: 'Montserrat Slab', serif;
    font-size:16px;
    font-style: italic;
    font-weight: 200;
    margin: 5px;
    padding: 5px;
  }
  
/* #header-text {
    flex-basis: 80%;
    display: flex;
} */

nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: row;
    /* align-items: flex-end; */
    align-items: center;
    justify-content: center;
}

a {
    margin: 2px;
    text-decoration: none;
    color: #000;
}

a, p {
    font-family: monospace;
}

header{
  height: max-content;
  background-color: var(--color1);
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around;
}

nav{
  width: 100%;
  height: 15rex;
  background-color: var(--color1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

nav a {
  background-color: var(--color1);
  max-width: fit-content;
  /* style as buttons with hover */
  text-wrap: nowrap;

}

  form * {
    margin: 2px;
    padding: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    /* font-smooth: antialiased; */
    text-rendering: optimizeLegibility;
  }
    
  fieldset input{  width: 100%;}
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact input[type="url"],
  #contact textarea,
  #contact button[type="submit"] {    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;}
  #contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #b58dc2;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;}
  
   /* #contact button[type="submit"]:hover {
      background: #43A047;
      -webkit-transition: background 0.3s ease-in-out;
      -moz-transition: background 0.3s ease-in-out;
      transition: background-color 0.3s ease-in-out;} */
      #contact button[type="submit"]:active {
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);}
      ::-webkit-input-placeholder {
        color: #888;
      }
      :-moz-placeholder {
        color: #888;
      }
      ::-moz-placeholder {
        color: #888;
      }
      :-ms-input-placeholder {
        color: #888;
      }
  
      /* FOOTER */
  footer * {background-color: var(--color6);}
  .footer-container { display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: var(--color6);
      margin-bottom: 10px 20px;
    }
  
  footer p {font-size: 0.7rem;}
    
  .footerIcon img { background-color: var(--color6);
      height: 30px;
      padding: 3px;
      margin: 2px;
    }
    
   
  /* MEDIA QUERY FOR LARGER SCREENS */
  @media (min-width: 800px){
      header{ 
        flex-direction: row;
      }
      .links-header{
       justify-content: flex-end;
        align-items: center;
      }
      #projects {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        /* align-items: center; */
      }
      .project {
          width: 42%;
          /* margin: 15px; */
        /* height: 40vh; */
      }
      #formContainer {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* max-width: 500px; */
        margin: 0 auto;
        position: relative;
      }
      fieldset input{  width: 70%;}
  
      .footer-container {
        flex-direction: row;
        justify-content: space-around;
      }
    }
  