{% extends "base.html"%}
{% load static %}

<!-- {% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}" />  
{% endblock %} -->

{% block content %}
    {% if request.user.is_authenticated %}
    <form action="" method="post">
        {%csrf_token %}
        {{form.as_p}}
        <input type="submit" value="submit">
    </form>
     {% else %}
    <h2> Not available </h2>
    <p> Please log in to your account </p>
        
    {% endif %}
    {% endblock%}