{% extends "base.html"%}
{% load static %}

<!-- {% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}" />  
{% endblock %} -->

{% block content %}
    {% if request.user.is_authenticated %}
    <section class="my-container">
        <div class="my-form">
        <form action="" method="post" >
        {%csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit New Story" class="my-button">
        </form>
        <div >
    </section>
     {% else %}
    <h2> Not available </h2>
    <p> Please log in to your account </p>
        
    {% endif %}
    {% endblock%}